* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #fff;
    font-variant-numeric: lining-nums;
}

html {
    scroll-behavior: smooth;
}

main {
    position: relative;
}
.container {
    /* max-width: 1350px; */
    margin: 0 auto;
    /* width: 100vw; */
    padding: 0 40px;
}

:root {
    --bck-brown: #1F0000;
    --color-white: #fff;
    --color-dark: ##1F0000;
    --theme-color: #E85300;
    --bck-orange: #E85300;
    --bck-pink: #FFFBFA;
    --theme-color-light: #FF8D4E;
    --color-red: #D42A2A;
    --color-grey: #C7BFBF;
}

a {
    text-decoration: none;
}

p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
}

.header_top {
	background: var(--bck-brown);
	color: #fff;
    padding:6px 0;
}

.header_top a:hover {
    color: var(--theme-color);
    transition: all 0.4s ease;
}

.header_top_inside {
    display: flex;
	justify-content: space-between;
    align-items: center;
}

.mobile_logo {
    width: 100%;
    max-width: 210px;
    height: 80px;
    display: none;
}

.header_contact {
    display: flex;
    gap: 26px;
    position: relative;
}

.header_contact a {
    color: var(--color-white);
    text-decoration: none;
}

/* .link_whatsapp:after {
    content:"";
    width: 32px;
    height: 32px;
    background-image: url("/assets/img/svg/whatsapp.svg");
    background-repeat: no-repeat;
    display: flex;
} */

/* .link_telegram:after {
    content:"";
    width: 32px;
    height: 32px;
    background-image: url("/assets/img/svg/telegram.svg");
    background-repeat: no-repeat;
    display: flex;
} */



.link_whatsapp:hover path {
	stroke: var(--theme-color);
    transition: all 0.4s ease;
}

.link_whatsapp {
    background: #8F8080;
    border-radius: 100px;
    padding: 5px;
    width: 32px;
    height: 32px;
}

.link_whatsapp:hover{
    background: #fff;
}

.link_telegram {
    background: #8F8080;
    border-radius: 100px;
    padding: 5px;
    width: 32px;
    height: 32px;   
}

.link_telegram:hover{
    background: #fff;
    transition: all 0.4s ease;

}

.link_telegram:hover path {
	stroke: var(--theme-color);
    transition: all 0.4s ease;
}



.social_link {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.main_header {
	display: flex;
	align-content: center;
	justify-content: space-between;
    padding: 40px;
}

.nav_header {
    display: flex;
    align-items:center;
    gap: 24px;
}

.nav_header a {
    display: flex;
    gap: 5px;
}

.nav_header a {
    color: var(--color-dark);
}

.nav_header a:hover {
    color: var(--theme-color);
    transition: all 0.4s ease;
}

.header_cart {
    display: flex;
    gap:1rem;
    align-items:center;
}

.icon_search:hover circle {
    stroke: var(--theme-color-light);
}

.icon_search:hover path{
    fill: var(--theme-color-light);
}


a.icon_cart:hover path {
    stroke: var(--theme-color-light);
}

.main_block {
    height: 724px;
    background-image: url(/assets/img/main_img.png);
    background-size: cover;
    position: relative;
    border-radius: 100px;
    padding-top: 200px;
}

.main_content-title {
	display: flex;
	flex-direction: column;
    justify-content: center;
}

.top_content_title {
    font-size: 64px;
    font-weight: 500;
    color: var(--color-dark);
    font-family: 'Cormorant', sans-serif;
    margin-top: 32px;
    margin-bottom: 64px;
    line-height: 64px;
}

.star_span {
	display: flex;
	color: var(--theme-color);
	font-family: 'Cormorant', sans-serif;
	font-size: 28px;
	font-weight: 600;
	gap: 10px;
	align-items: center;
}

.star_span:before {
    content:"";
    width: 17px;
    height: 17px;
    background-image: url("/assets/img/svg/star.svg");
    background-repeat: no-repeat;
    display: flex;
}

.btn_content {
    display: flex;
    gap: 20px;
}

.btn_bck {
	background-color: var(--bck-orange);
	padding: 16px 48px;
	border-radius: 100px;
	color: var(--color-white);
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
} 

.btn_bck:hover {
    background-color: var(--theme-color-light);
    transition: all 0.4s ease;
    color: var(--color-white);
    
}


.btn_no_bck {
    color: var(--theme-color);
    padding: 16px 48px;
    text-transform: uppercase;
    border: 1px solid var(--theme-color);
    border-radius: 100px;
    font-weight: 600;
    display: flex;
    align-items:center;
	letter-spacing: 1px;

}

.btn_no_bck:hover {
	background-color: var(--theme-color-light);
	transition: all 0.9s ease;
	color: var(--color-white);
	border: 1px solid var(--theme-color-light);
}

.bck_pink {
    background-color: var(--bck-pink);
}

.bck_white {
    background-color: var(--color-white);
}

.title_w_circle:before {
    content:"";
    width: 30px;
    height: 20px;
    background-image: url("/assets/img/svg/circle.svg");
    background-repeat: no-repeat;
    display: flex;
}

.title_w_circle {
	font-size: 2.5rem;
	font-weight: 600;
	font-family: 'Cormorant', sans-serif;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	gap: 24px;
	margin-bottom: 32px;
	letter-spacing: 0.2rem;
}

.column-item {
	background-color: #fff;
	position: relative;
	width: 100%;
	display: flex;
	/* justify-content: center; */
	flex-direction: column;
}

.new_cart {
	/* background-image: url(/assets/img/svg/new.svg); */
	/* background-size: cover; */
	/* position: relative; */
	/* border-radius: 100px; */
	position: absolute;
	top: 20px;
	left: 20px;
    z-index: 99;
}

.column-4 {
	display: flex;
    gap: 20px;
    text-align: center;
}

.title_medium {
	font-size: 28px;
	font-weight: 600;
	font-family: 'Cormorant', sans-serif;
	color: var(--color-dark);
	line-height: 33.6px;
}

.column-item:hover a {
	color: var(--theme-color);
    transition: all 0.4s ease;
}

.title_medium:hover {
    /* color: var(--theme-color);
    transition: all 0.9s ease; */
    cursor: pointer;
}
.price_cart {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--theme-color);
}

.old_price {
    color: var(--color-grey);
    text-decoration: line-through;
}

.new_price {
	color: var(--color-red);
	font-weight: 500;
}

.product_new {
	color: var(--theme-color);
	border: 1px solid var(--theme-color);
	border-radius: 100px;
	padding: 16px;
	line-height: 16.8px;
	font-weight: 600;
	position: absolute;
	top: 11px;
	left: 11px;
}

.product_sale {
    color: var(--color-red);
	border: 1px solid var(--color-red);
	border-radius: 100px;
	padding: 16px;
	line-height: 16.8px;
	font-weight: 600;
	position: absolute;
	top: 11px;
	left: 11px;
}

.group_price {
    display: flex;
    gap: 10px;
}

.desc_cart_title {
	padding: 32px;
	text-align: left;
	display: flex;
	flex-direction: column;
	line-height: 33.6px;
}

.name_flower {
    font-size: 28px;
    font-weight: 600;
    font-family: 'Cormorant', sans-serif;
    color:var(--theme-color);
}

.catalog-slider_row ul li {
    list-style: none;
    padding: 24px 0;
    border-bottom: 1px solid var(--bck-pink);
}

.catalog_row {
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 1fr;
}


.about_flower_item:last-child {
    background-image: url(/assets/img/svg/arrow-link.svg);
    background-size: cover;
    position: relative;
}


.info_about_flower .title_medium {
    display: flex;
    align-items:center;
    gap: 1rem;
}
.info_about_flower .title_medium:after {
    content:"";
    background-image: url(/assets/img/svg/down-right.svg);
    background-repeat: no-repeat;
    position: relative;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    margin-bottom: -9px;
}



.about_flower {
	display: grid;
	grid-template-columns: 555px 1fr;
	align-items: center;
	padding: 24px 0;
    border-bottom: 1px solid var(--bck-pink);
}

.catalog-slider__flower-image {
    opacity: 0;
    transition: opacity 1s ease;
}

.about_flower:hover a {
	color: var(--theme-color);
    transition: all 0.4s ease;
}

.catalog-slider_row img {
	width: 100%;
	/* max-width: 662px; */
	height: 1000px;
	/* object-fit: cover; */
	border-radius: 20px;
}

.description_title {
	font-size: 18px;
	font-weight: 500;
	font-family: 'Montserrat',sans-serif;
	color: var(--color-dark);
	line-height: 21.6px;
}

.description_title a {
    font-family: 'Cormorant', sans-serif;
    line-height: 33.6px;
}

.block_padding_left {
    margin-left: 7rem;
	margin-bottom: 64px;
}

.column-3 {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(3, 440px);
	justify-content: space-around;
}

.column-item-3 {
	background-color: var(--color-white);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.column-item-3 img{
    width: 100%;
    height: fit-content;
}

.column-item-3:hover{
   cursor: pointer;
}

.block_services_text {
	display: flex;
	flex-direction: column;
	gap: 24px;
	padding: 32px;
}

.description_flower {
    /* display: none; */
    transition: opacity 0.5s ease;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
    opacity: 0;
    height: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.about_flower:hover .description_flower {
    /* display: flex; */
    width: 100%;
    max-width: 555px;
    opacity: 1;
    height: 100%;
}

.about_flower:hover {
	cursor: pointer;
}

.description_title a {
    font-size: 28px;
    font-weight: 600;
}

/* #our-services::after{
    content:"";
    width: 30px;
    height: 30px;
    background-image:url(/assets/img/flower-services.png);
} */

#how_buy .block_padding_left a {
    color: var(--color-white);
}

#how_buy .block_padding_left a:hover{
    color: var(--theme-color);
    transition: all 0.4s ease;
}

#how_buy .block_padding_left {
    color: var(--color-white);
}


#how_buy {
	background-image: url('/assets/img/steps.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.text-color-white {
    color: var(--color-white);
}

#new, #catalog_flower, #why_choose_us, #how_buy, #our-services, #bestseller{
	padding: 128px 0;
}

.footer_column {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer_column_item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.logo_footer {
    width: 100%;
    max-width: 210px;
    height: 76px;
}

.link_orange {
    color: var(--theme-color);
    margin-top: 32px;
}

.privacy {
    margin-top: 118px;
}

.footer {
    padding: 64px 0;
}

.footer_column_item ul li {
    list-style: none;
}

.name_column_footer {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 26px;
    line-height: 21.6px;
}

.footer_column_item ul {
    display: flex;
    flex-direction: column;
    gap:16px;
}

.footer_column_item ul li {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.footer_column_item ul li a{
    color: var(--color-dark);
}

.footer_column_item ul li a:hover{
    color: var(--theme-color);
    transition: all 0.4s ease;
}

.link_more {
	color: var(--theme-color);
	display: flex;
	align-items: last baseline;
	gap: 5px;
	margin-top: 20px;
}

.link_more:hover {
    color: var(--theme-color-light);
    transition: all 0.4s ease;
}

.link_more:hover svg path {
    stroke: var(--theme-color-light) !important;
    
}


/* .link_more:after {
    content:'';
    width: 20px;
    height: 20px;
    display: flex;
    background-image: url(/assets/img/svg/down.svg);
    background-repeat: no-repeat;
    align-items: center;
    background-position-y: 6px;
} */



.column_choose {
    display: grid;
    grid-template-columns: 1fr 440px 1fr;
    gap: 125px;
}

.column_title {
	font-size: 32px;
	font-weight: 600;
	font-family: 'Cormorant', sans-serif;
	margin-bottom: 16px;
	line-height: 38.4px;
}

.column_choose_item:first-child {
    text-align: right;
}

.column_choose_item:last-child {
    text-align: left;
}

.column_choose_item {
	display: flex;
	flex-direction: column;
	gap: 64px;
}

.column_choose_item .btn_content {
    display: flex;
    justify-content: center;
}

.item_how_buy {
    background: none;
}
.item_how_buy img {
    width: 100%;
    max-width: 64px;
}

.item_how_buy p {
   color: var(--color-white);
}

#how_buy .column-4 {
    text-align: left;
}

.img_count {
	display: flex;
	align-items: center;
    gap: 50px;
}

/* .img_count:nth-child(-n+3)::after {
    content: '';
    width: 210px;
    height: 20px;
    display: flex;
    align-items: center;
    background-image: url(/assets/img/svg/arrow_count.svg);
    background-repeat: no-repeat;
} */




.item_how_buy .title_medium {
	margin: 32px 0 24px 0;
	line-height: 33.6px;
}

.block_picture_cart img {
    width: 100%;
    transition: 1s; /* Время эффекта */
    display: block; 
    cursor: pointer;
}

.block_picture_cart {
    display: inline-block; 
    overflow: hidden;
}

.block_picture_cart img:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
}

.social__link_item {
    display: flex;
    gap: 1rem;
    margin-top: 16px;
}

/* АДАПТИВ */
@media(max-width:2000px) {
    .main_content-title {
        margin-left: 9rem;
    }
}
@media(max-width:1500px) {
    .img_count {
        justify-content: unset;
        gap: 2rem;
    }
    .main_content-title {
        margin-left: 0
    }
}

@media(max-width:1400px) {
    .column-4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .column-3 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:1200px) {
    .header_top_inside  {
        flex-wrap: wrap;
    }
    .nav_header {
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .main_header {
        gap: 1rem;
    }
    .footer_column {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .catalog-slider_row:last-child {
        display: none;
    }
    .catalog-slider_row .about_flower {
        width: 100%;
    }
    .column_choose {
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }
    .column_choose_item:nth-child(2){
       display: none;
    }
    .mobile_btn_hidden {
        display: flex !important;
        justify-content: center;
        margin-top: 32px !important;
        margin: 0 auto;
    }
}

@media(max-width:1100px) {
    .column-3 {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:1000px) {
    .column-3 {
        grid-template-columns: 1fr 1fr;
    }
    .footer_column {
        gap: 2rem;
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:900px) {
    .column_choose {
        grid-template-columns: 1fr;
    }
    .pic_title {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .column_choose_item:first-child {
        text-align: unset;
    }
    .column_choose_item_item {
        display: flex;
        flex-direction: column;
        gap: 22px;
    }
    .description_title {
        margin-bottom: 32px;
    }
    .mobile_logo {
        display: flex;
        margin-bottom: 32px;
    }
    .header_top_inside {
        padding: 64px 32px;
    }
    .header-adress:before { 
        content: "";
        width: 24px;
        height: 24px;
        display: flex;
        background-image: url(/assets/img/svg/arcticons_magicpin.svg);
        background-repeat: no-repeat;
    }
    .header_contact_mail:before { 
        content: "";
        width: 24px;
        height: 24px;
        display: flex;
        background-image: url(/assets/img/svg/arcticons_mail.svg);
        background-repeat: no-repeat;            
    }
    .header_contact_tel:before { 
        content: "";
        width: 24px;
        height: 24px;
        display: flex;
        background-image: url(/assets/img/svg/arcticons_phone-alt.svg);
        background-repeat: no-repeat; 
    }
    .header_top_inside {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items:unset;
    }
    .social_link {
        flex-direction: column;
        align-items:unset;
    }
    .header_contact {
        flex-direction: column;
    }
    .header-adress {
        display: flex;
        gap: 1rem;
        align-items: center;
        padding-bottom: 16px;
    }
    .header_contact_mail {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    .header_contact_tel {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    .header .header_top_inside {
        display: none;
    }
}

@media(max-width:750px) {
    .column-4 {
        display: flex;
        flex-wrap: wrap;
    }
    .about_flower {
        display: flex;
        flex-direction: column;
        gap: 1rem;    
    }
    .about_flower:hover .description_flower {
        max-width: unset;
    }
    .img_count {
        flex-direction: column;
        gap: 1rem;
        align-items:unset;
    }
}

@media(max-width:700px) {
    .column-3 {
        grid-template-columns: 1fr;
    }
    .footer_column {
        grid-template-columns: 1fr;
    }
    .catalog_row {
        display: flex;
    }
    .info_about_flower {
        width: 100%;
    }
    .block_padding_left {
    margin: 0;
    }
    .logo_footer {
        display: none;
    }
    .desc_footer {
        display: none;
    }
    .footer_column_item:first-child {
        order: 2;
    }
    .privacy {
        margin-top: 16px;
    }
    .link_orange {
        margin-top: 0;
    }
    .name_column_footer {
        margin-bottom: 16px;
    }
}

@media(max-width:600px) {
    .nav_header {
        display: none;
    }
    .main_header {
        background-color: var(--bck-pink);
    }
    .icon_search, .icon_cart {
        background-color: #fff;
        width: 32px;
        height: 32px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main_header {
        padding: 10px;
    }
    .burger_mobile {
        display: flex;
        flex-direction: column;
        gap: 4px;
        background-color: #fff;
        border-radius: 100px;
        width: 32px;
        height: 32px;
        justify-content: center;
        align-items: center;
    }
    .burger_mobile span {
        background-color: var(--bck-orange);
        width: 12px;
        height: 1px;
    }
    .top_content_title {
        font-size: 32px;
        line-height: 32px;
        margin-top: 16px;
    }
    .main_content-title {
        justify-content: unset;
    }
    .star_span {
        font-size: 16px;
    }
    .main_content-title {
        border-radius: 0;
    }
    .main_block .container {
        padding: 0 !important;
    }
    .main_content-title {
        padding: 40px !important;
    }
    .main_block {
        height: max-content;
        padding-top: 64px;
        border-radius:unset;
    }
    .btn_content {
        flex-direction: column;
    }
    .btn_no_bck{
        justify-content: center;
    }
    .btn_bck{
        text-align: center;
    }
}

@media(max-width:540px) {
    .main_content-img {
        display: none;
    }
    .btn_content {
        flex-direction: column;
        width: 100%;
    }
    .btn_bck {
        text-align: center;
    }
    .btn_no_bck {
        text-align: center;
        width: 100%;
        justify-content: center;
    }
    .header-adress:before{
        width: 60px;
    }
}

@media(max-width:500px) {
    .header_top_inside  {
    gap: 1rem;
    }
    .column_choose {
        grid-template-columns: 1fr;
    }
    .title_w_circle {
        gap: 0;
    }
    .title_w_circle::before {
        width: 60px;
    }
}

@media(max-width:440px) {
    .header_contact {
        flex-direction: column;
        gap: 1rem;
    }
}

